#aboutnav{
    background-color: #771ba7 !important;
}
.navbar-dark .navbar-brand{
    color: #17a2b8;
}

.span navbar-toggler-icon{
    background-color: #17a2b8;
}

.button{
    border: 10px solid black;
}
