{% load static %}
{% include 'navbar.html' %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/index.css' %}" type="text/css" >
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'boot/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{%  static 'js/index.js' %}" type="text/javascript"></script>
    <title>Document</title>
</head>

<!-- countdown clock -->
<body>
<div class="container">
    <h1 id="headline">Countdown to Willa rae's delivery date</h1>
    <div id="countdown">
        <ul>
        <li><span id="days"></span>days</li>
        <li><span id="hours"></span>Hours</li>
        <li><span id="minutes"></span>Minutes</li>
        <li><span id="seconds"></span>Seconds</li>
        </ul>
    </div>
    <div id="content" class="emoji">
    <span>🥳</span>
    <span>🎉</span>
    <span>🎂</span>
    </div>
</div>
</body>
</div>
</html>






