{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{ static '/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/navbar.css' %}">
<title></title>
</head>



<nav class="navbar fixed-top navbar-expand bg-dark shadow-lg border-bg-dark-subtle" >
    <div class="d-flex flex-grow-1">
        <a class="navbar-brand d-lg-block"  href="#"><h4>Willas Web</h4></a>
        <span class="w-100 d-lg-none d-block"></span>
                    <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home</a>
                    <ul class="dropdown-menu shadow-lg m-auto" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'about' %}">about</a></li>
                        <li><a class="dropdown-item" href="{% url 'contact' %}">contact</a></li>
                    </ul>
    </div>
    <!-- searchbar -->

    <form class="d-flex mb-auto " id="searchbar">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

</nav>
